<div class="card-container">
  <div class="discount bold">{{ product.discountPercentage }}%</div>
  <div class="card-img">
    <img [src]="product.thumbnail" [alt]="product.title" />
  </div>
  <div class="card-body">
    <p class="product-title bold">{{ product.title | shorten : 20 }}</p>
    <p class="product-description regular">
      {{ product.description | shorten : 55 }}
    </p>

    <div class="product-price">
      <p class="old-price">
        <span class="bold">{{ product.price }} </span
        ><span class="regular">USD</span>
      </p>
      <p class="new-price">
        <span class="bold">{{ discountedPrice }} </span
        ><span class="regular">USD</span>
      </p>
    </div>
    <div class="brand">
      <span class="regular">Brand: </span
      ><span class="bold">{{ product.brand }}</span>
    </div>
    <div class="category">
      <span class="regular">Category: </span
      ><span class="bold">{{ product.category }}</span>
    </div>
    <div class="availability">
      <span class="regular"> In Stock: </span
      ><span class="bold">{{ product.stock }}</span>
    </div>
    <div class="rating">
      <div class="rating-box">
        <span class="icon"
          ><fa-icon [icon]="faStar"></fa-icon> {{ product.rating }}
        </span>
      </div>
      <div class="rating-times regular">(11)</div>
    </div>
    <button class="btn" (click)="addToCart()">Add to cart</button>
  </div>
</div>
