<div class="card-container">
  <div class="discount bold">- 12.96%</div>
  <div class="card-img">
    <img
      src="https://www.apple.com/newsroom/images/product/iphone/standard/apple_iphone-12_new-design_10132020_big.jpg.large.jpg"
      alt="product"
    />
  </div>
  <div class="card-body">
    <p class="product-title bold">iPhone 12</p>
    <p class="product-description regular">
      An Apple mobile which is nothing like apple.
    </p>
    <div class="product-price">
      <p class="old-price">
        <span class="bold">549 </span><span class="regular">USD</span>
      </p>
      <p class="new-price">
        <span class="bold">477 </span><span class="regular">USD</span>
      </p>
    </div>
    <div class="brand">
      <span class="regular">Brand: </span><span class="bold">Apple</span>
    </div>
    <div class="category">
      <span class="regular">Category: </span
      ><span class="bold">Smartphone</span>
    </div>
    <div class="availability">
      <span class="regular"> In Stock: </span><span class="bold">94</span>
    </div>
    <div class="rating">
      <div class="rating-box">
        <span class="icon"><fa-icon [icon]="faStar"></fa-icon> 4.69 </span>
      </div>
      <div class="rating-times regular">(11)</div>
    </div>
    <button class="btn">Add to cart</button>
  </div>
</div>
