/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style: none;
  }

  //container
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 130px 0 112px;
  }

  // Fonts
  .regular {
    font-weight: 400;
  }
  .medium {
    font-weight: 500;
  }
  .semi-bold {
    font-weight: 600;
  }
  .bold {
    font-weight: 700;
  }
  .extra-bold {
    font-weight: 800;
  }
  .text-red {
    color: rgba(190, 79, 79, 0.897);
    margin-top: 3px;
  }
  .alert-red {
    background: rgba(190, 79, 79, 0.897);
  }
  .alert-blue {
    background: rgba(79, 127, 190, 0.897);
  }
  .alert-green {
    background: rgba(79, 190, 94, 0.897);
  }

  //button
  .btn {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    width: 100%;
    background: #56d9d9;
    border: 1px solid #56d9d9;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #344054;
    &:disabled {
      background: #3ce4e45d;
      cursor: default;
    }
  }

  .d-flex {
    display: flex;
  }
  .justify-content-center {
    justify-content: center;
  }
  .align-items-center {
    align-items: center;
  }
  .m-l {
    margin-left: 10px;
  }
}
