<div class="container">
  <p class="category bold">iPhone</p>
  <p class="route regular">
    Home / Products / Smart Phones / <span class="bold">iPhone</span>
  </p>
  <div class="grid-container">
    <div class="filter-section grid-item">
      <div class="filter-container">
        <p class="bold">Products</p>
        <div class="custom-check-box">
          <label class="check-box-container regular"
            >Smartphones (9)
            <input type="checkbox" checked="checked" />
            <span class="checkmark"></span>
          </label>
          <label class="check-box-container regular"
            >Laptops (12)
            <input type="checkbox" checked="checked" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="products-list-container">
      <div class="flex-container">
        <app-products-list class="flex-item"></app-products-list>
        <app-products-list class="flex-item"></app-products-list>
        <app-products-list class="flex-item"></app-products-list>
        <app-products-list class="flex-item"></app-products-list>
        <app-products-list class="flex-item"></app-products-list>
        <app-products-list class="flex-item"></app-products-list>
      </div>
      <app-pagination
        [currentPage]="currentPage"
        [limit]="20"
        [total]="500"
        (changePage)="changePage($event)"
      ></app-pagination>
    </div>
  </div>
</div>
